<div class="list-group">
  <a class="my-2 list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-2 h5">Spider-man</h5>
      <small>Marvel</small>
    </div>
    <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
  </a>
  <a class="my-2 list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-2 h5">Spider-man</h5>
        <small>Marvel</small>
      </div>
      <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
      <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
    </a>
    <a class="my-2 list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">Spider-man</h5>
          <small>Marvel</small>
        </div>
        <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
      </a>
</div>