<div class="list-group">
  <a class="my-2 list-group-item list-group-item-action flex-column align-items-start animated fadeInUp"
  *ngFor="let k of heroes | keys">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-2 h5">{{ heroes[k].name }}</h5>
      <small>{{ heroes[k].home }}</small>
    </div>
    <p class="mb-2">{{ heroes[k].bio }}.</p>
    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
  </a>
</div>