<div class="list-group">
  <a class="my-2 list-group-item list-group-item-action flex-column align-items-start animated fadeInUp"
  *ngFor="let k of heroes | keys">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-2 h5">{{ heroes[k].name }}</h5>
      <small>{{ heroes[k].home }}</small>
    </div>
    <p class="mb-2">{{ heroes[k].bio }}.</p>
    <button [routerLink]="['/hero', k]" type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
    <button (click)="eliminateHero(k)" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
  </a>

  <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-warning alert-dismissible animated fadeIn" role="alert">
    <strong>Holy guacamole!</strong> You should add some heroes now.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="loading" class="container">
  <div class="row justify-content-center">
    <div class="loader small align-items-center"></div>
  </div>
  </div>
  
  
</div>